{{#> base }}

  <div class="page-container">
    This is the homepage<br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    More content...
  </div>

{{/ base }}
